* {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
}
.search-main-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-movies-section {
    height: 85%;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.search-movie-card {
    width: 100%;
    height: 200px;
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.search-movie-image {
    height: 200px;
    width: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.search-movie-description {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.searched-movie-release-date {
    font-size: 15px;
    padding-top: 6px;
}

.searched-movie-overview {
    font-size: 14px;
    padding-top: 6px;
    overflow: auto;
}
@media all and (max-width: 576px) {
    .search-movies-section {
        width: 90%;
    }
    .search-movie-image {
        width: 100px;
    }
    .search-movie-description {
        padding: 16px;
    }
    .searched-movie-overview {
        overflow: auto;
    }
}