* {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
}
.movies-main-container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#214c6e,#184468);
}
.movies-inner-container {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 24px;
    padding-top: 24px;
}
.movie-card {
    height: 300px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #ffffff;
}
.movie-card-image {
    height: 200px;
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.movie-title {
    padding-left: 10px;
    padding-top: 10px;
}
.movie-release-date {
    padding-left: 10px;
    padding-top: 10px;
}
@media all and (max-width: 576px) {
    .movies-inner-container {
        width: 100%;
    }
    .movie-card {
        height: 220px;
        width: 120px
    }
    .movie-card-image {
        height: 150px;
        width: 100%;
    }
}