* {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
}
.movie-details-main-container {
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#214c6e,#184468);
}
.movie-details-card {
    height: 70%;
    width: 80%;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#5181a7,#278cdf);
    border-radius: 10px;
}
.movie-details-image {
    height: 100%;
    width: 40%;
    border-radius: 10px;
}
.movie-details-description-section {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 36px 24px 36px;
}
.movie-details-title {
    font-size: 24px;
    color: #fff
}
.movie-details-description {
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
    color: #fff
}
span {
    font-size: 18px;
    color: #fffffff9;
    font-weight: 500;

}
.overview {
    font-size: 18px;
    color: #fffffff9;
    font-style:italic;
}
@media all and (max-width: 576px) {
    .movie-details-card {
        min-height: 60%;
        max-height: 80%;
        flex-direction: column;
    }
    .movie-details-image {
        height: 30%;
        width: 100%;
    }
    .movie-details-description-section {
        height: 70%;
        width: 100%;
        padding: 16px;
        justify-content: flex-start;
    }
    .movie-details-title {
        font-size: 18px;
        color: #fff
    }
    .movie-details-description {
        font-size: 14px;
        font-weight: 700;
        padding-top: 10px;
        color: #fff
    }
    span {
        font-size: 14px;
        color: #fffffff9;
        font-weight: 500;
    
    }
    .overview {
        font-size: 12px;
        color: #fffffff9;
        font-style:italic;
    }
}