* {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
}
.latest-trailers-main-container {
    width: 100%;
    padding-top: 20px;
    background: linear-gradient(#274070, #354157);
    display: flex;
    flex-direction: column;
}
.latest-trailers-streaming {
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
}
.latest-trailers{
    font-size: 20px;
    color: #ffffff;
    margin-right: 20px;
    margin-left: 40px;
}
.streaming-on-tv-for-rent {
    display: flex;
    align-items: center;
    width: 50%;
    height: 32px;
    border-radius: 15px;
    border: 1px solid lightgreen;
    display: none;
}
@media all and (max-width:576px) {
    .latest-trailers-main-container {
        height: 40%;
        padding-top: 0px ;
    }
    .latest-trailers-streaming {
        margin: 10px 0px 10px 0px;
    }
    .latest-trailers {
        margin-left: 16px;
        font-size: 16px;
    }
}
.streaming,.streaming-active {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    height: 28px;
    width: 25%;
    background: transparent;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin: 2px;
}
.streaming-active {
    background-image: linear-gradient(#77c09b,#3db177);
    color: #032541;
}
.popular-movies-section {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: hidden;
}
.popular-movie-card {
    min-width: 170px;
    height: 250px;
    margin-left: 10px;
}
.popular-movie-image {
    height: 180px;
    width: 100%;
    border-radius: 5px;
}
.popular-movie-title {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}
.popular-movie-release-date {
    font-size: 14px;
    color: #ffffff;
}
@media all and (max-width: 576px) {
    .popular-movies-section {
        height: 200px;
        align-items: flex-start;
    }
    .popular-movie-card {
        height: 180px;
        width: 120px;
    }
    .popular-movie-image {
        height: 100px;
    }
    .popular-movie-title {
        font-size: 12px;
    }
    .popular-movie-release-date {
        font-size: 12px;
    }
}