* {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
}
.home-main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome-search-container, .thats-a-wrap-container {
    height: 300px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(#274070, #354157);
    padding: 48px;
}
.welcome-heading {
    font-size: 48px;
    color: #ffffff;
}
.welcome-description {
    font-size: 32px;
    color: #ffffff;
    opacity: 1;
}
.search-container {
    height: 50px;
    width: 100%;
    border-radius: 25px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-element {
    height: 100%;
    width: 80%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 20px;
    font-size: 16px;
}
.search-button {
    height: 100%;
    width: 20%;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    background-image: linear-gradient(to right, lightblue, lightgreen);
    border: none;
}
.search-button:hover {
    color: #000000;
}
.thats-a-wrap-container {
    background: linear-gradient(#e66465, #9198e5);
}
.home-middle-section {
    height: 100%;
    width: 90%;
}
@media all and (max-width: 576px) {
    .home-main-container {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .welcome-search-container {
        height: 200px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(#274070, #354157);
        padding: 20px;
    }
    .welcome-heading {
        font-size: 24px;
        color: #ffffff;
    }
    .welcome-description {
        font-size: 16px;
        color: #ffffff;
        font-weight: 400;
    }
    .search-container {
        height: 30px;
    }
    .search-element {
        font-size: 12px;
        padding-left: 10px;
    }
    .search-button {
        font-size: 10px;
    }
    .home-middle-section {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}
@media all and (min-width: 576px) {
    .home-main-container {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .welcome-search-container {
        height: 33%;
    }
    .welcome-description {
        font-size: 26px;
        color: #ffffff;
        opacity: 1;
        font-weight: 500;
    }
    .search-container {
        margin-top: 10px;
    }
    .home-middle-section {
        height: 67%;
        padding-top: 20px;
    }
}