* {
    box-sizing: border-box;
    margin: 0px;
}
.header-main-container {
    height: 80px;
    width: 100vw;
    background-color: #032541;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0px;
}
.website-logo {
    height: 20px;
    width: 154px;
    background-image: url("https://www.themoviedb.org/assets/2/v4/logos/v2/bl…ca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg");
}

.features-container {
    display: flex;
}
.header-features {
    color: #ffffff;
    font-size: 16px;
    margin-left: 16px;
}
.profile-search-container {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons-style {
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.language-container {
    border: 1px solid #ffffff;
    border-radius: 2px;
    padding: 5px;
}
.language {
    font-size: 14px;
    color: #fff;
}
.profile-container {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #01B4E4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.header-search-button {
 background-color: transparent;
 outline: none;
 border: none;
 cursor: pointer;
}
.link-style {
    text-decoration: none;
}
@media all and (max-width: 576px) {
    .header-main-container {
        height: 60px;
        width: 100vw;
        padding-left: 16px;
        padding-right: 16px;
    }
    .features-container {
        width: 150px;
    }
    .header-features {
        font-size: 12px;
        margin-left: 6px;
    }
    .website-logo {
        width: 50px;
    }
    .profile-container {
        height: 30px;
        width: 30px;
    }
    .profile-name {
        font-size: 12px;
    }
    .profile-search-container {
        width: 100px;
    }
    .language {
        font-size: 10px;
    }
    .icons-style {
        font-size: 30px;
        margin-right: 10px;
        margin-left: 10px;
    }
}