* {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
}
.footer-main-container {
    height: 250px;
    width: 100%;
    background-color: #032541;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 70px;
}
.footer-logo {
    height: 100px;
    width: 100px;
    padding-right: 24px;
}
.footer-cards {
    padding-right: 24px;
}
.footer-card-heading {
    font-size: 20px;
    color: #ffffff;
}
.footer-card-description {
    font-size: 17px;
    color: #ffffff;
    padding-top: 6px;
}
@media all and (max-width: 576px) {
    .footer-main-container {
        height: 200px;
        padding-top: 24px;
    }
    .footer-logo {
        height: 50px;
        width: 50px;
    }
    .footer-cards {
        padding-right: 5px;
    }
    .footer-card-heading {
        font-size: 14px;
    }
    .footer-card-description {
        font-size: 10px;
    }
}