* {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
}
.trending-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.trending-today-this-week {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
}
.trending {
    font-size: 20px;
    color: #000000;
    margin-right: 20px;
    margin-left: 40px;
}
.today-this-week-container {
    display: flex;
    align-items: center;
    width: 200px;
    height: 32px;
    border-radius: 15px;
    border: 1px solid #000000;
}

.today,.active {
    font-size: 16px;
    font-weight: 600;
    color: #032541;
    background-color: #ffffff;
    height: 28px;
    width: 100%;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin: 2px;
}
.active {
    color: lightgreen;
    background-color: #032541;
}
.trending-movies-section {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: hidden;
}
@media all and (max-width:576px) {
    .trending-main-container {
        height: 40%;
    }
    .trending-today-this-week {
        justify-content: flex-start;
        margin: 10px 0px 0px 0px;
    }
    .trending {
        margin-left: 16px;
        font-size: 16px;
    }
    .today,.active {
        font-size: 14px;
    }
}
@media all and (min-width: 576px) {
    .trending-main-container {
        
    }
}
.trending-movie-card {
    min-width: 170px;
    height: 250px;
    margin-left: 10px;
}
.trending-movie-image {
    height: 180px;
    width: 100%;
    border-radius: 5px;
}
.movie-title {
    font-size: 16px;
    font-weight: 800;
}
.release-date {
    font-size: 12px;
}

@media all and (max-width:576px) {
    .trending-movies-section {
        height: 200px;
        align-items: flex-start;
        margin-top: 10px;
    }
    .trending-movie-card {
        height: 180px;
    }
    .trending-movie-image {
        height: 100px;
    }
    .movie-title {
        font-size: 12px;
    }
    .movie-release-date {
        font-size: 10px;
    }
}